.body{
    position: relative;
    width: 100%;
    height: 1242px;

    background: #EEE9E9;
}

.container{
    display: flex;
}

.titulo{
    /* Cadastro do serviço: */

    position: absolute;
    width: 416px;
    height: 55px;
    left: 600px;
    top: 75px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;

    color: black;
}

.part01{
    width: 50%;
    height: 200px;
    margin-right: 10px;
    padding-left: 100px;
    padding-top: 20px;
}

.part02{
    width: 50%;
    height: 200px;
    margin-right: 10px;
    padding-left: 100px;
    padding-top: 20px;
}

/*------------------------------------------------------------------------------------------------------------------*/

.nome{
    /* Nome do estabelecimento: */

    position: absolute;
    width: 167px;
    height: 20px;
    left: 250px;
    top: 230px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.caixa-nome{
    box-sizing: border-box;

    width: 392px;
    height: 44px;
    left: 444px;
    top: 365px;

    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

/*------------------------------------------------------------------------------------------------------------------*/

.estado{
    /* estado */

    position: absolute;
    width: 141px;
    height: 20px;
    left: 250px;
    top: 842px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.txtestado{
    box-sizing: border-box;

    width: 392px;
    height: 44px;
    left: 444px;
    top: 568px;

    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.rua{
    /* Rua */

    position: absolute;
    width: 141px;
    height: 20px;
    left: 250px;
    top: 434px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.txtrua{
    box-sizing: border-box;

    width: 392px;
    height: 44px;
    left: 441px;
    top: 665px;

    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.numero{
    /* Número */

    position: absolute;
    width: 47px;
    height: 20px;
    left: 250px;
    top: 536px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.txtnumero{
    box-sizing: border-box;

    width: 392px;
    height: 44px;
    left: 441px;
    top: 767px;

    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.bairro{
    /* Bairro */

    position: absolute;
    width: 157px;
    height: 20px;
    left: 250px;
    top: 638px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.txtbai{
    box-sizing: border-box;

    width: 392px;
    height: 44px;
    left: 438px;
    top: 869px;

    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.cidade{
    /* Cidade */

    position: absolute;
    width: 141px;
    height: 20px;
    left: 250px;
    top: 740px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.txtcity{
    box-sizing: border-box;

    width: 392px;
    height: 44px;
    left: 438px;
    top: 971px;

    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.cep{
    /* CEP */

    position: absolute;
    width: 51px;
    height: 20px;
    left: 250px;
    top: 332px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.caixa-cep{
    box-sizing: border-box;

    width: 392px;
    height: 44px;
    left: 679px;
    top: 478px;

    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* HORARIO DE SERVIÇO*/

.text1{
    position: absolute;
    height: 20px;
    left: 920px;
    top: 230px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.hora1{
    box-sizing: border-box;

    position: absolute;
    width: 392px;
    height: 44px;
    left: 920px;
    top: 271px;
}

.hora2{
    box-sizing: border-box;

    position: absolute;
    width: 392px;
    height: 44px;
    left: 920px;
    top: 300px;
}

.hora3{
    box-sizing: border-box;

    position: absolute;
    width: 392px;
    height: 44px;
    left: 920px;
    top: 329px;
}

.hora4{
    box-sizing: border-box;

    position: absolute;
    width: 392px;
    height: 44px;
    left: 920px;
    top: 358px;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* DIAS DA SEMANA */

.dias-semana{
    /* Dias da semana */

    position: absolute;
    height: 20px;
    left: 920px;
    top: 400px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.semana1{
    box-sizing: border-box;

    position: absolute;
    height: 44px;
    left: 920px;
    top: 441px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.semana2{
    box-sizing: border-box;

    position: absolute;
    height: 44px;
    left: 920px;
    top: 482px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* TIPO DE SERVIÇO */

.tipo-servico2{
    /* Tipo de serviço: */

    position: absolute;
    height: 20px;
    left: 920px;
    top: 536px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.botoes{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    height: 28px;
    left: 1110px;
    top: 549px;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* DADOS */

.confimar-email{
    /* E-mail */

    position: absolute;
    width: 47px;
    height: 20px;
    left: 920px;
    top: 620px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.caixa-email{
    box-sizing: border-box;

    width: 392px;
    height: 44px;
    left: 680px;
    top: 579px;

    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.celular{
    /* celular */

    position: absolute;
    width: 180px;
    height: 20px;
    left: 920px;
    top: 730px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.caixa-celular{
    box-sizing: border-box;

    width: 392px;
    height: 44px;
    left: 671px;
    top: 665px;

    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

/*------------------------------------------------------------------------------------------------------------------*/

.txt-especializacao{
    /* Especialização */

    position: absolute;
    width: 100px;
    height: 20px;
    left: 920px;
    top: 830px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

.tipos-especializacao{
    position: absolute;
    width: 100px;
    height: 20px;
    left: 1110px;
    top: 844px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

/*------------------------------------------------------------------------------------------------------------------*/

#submit {

    position: absolute;
    width: 392px;
    height: 44px;
    left: 600px;
    top: 980px;

    border-radius: 8px;

    cursor: pointer;

    border-color: #A152EF;
    color: #000000;
    background-image: -webkit-linear-gradient(45deg, #A152EF 50%, transparent 50%);
    background-image: linear-gradient(45deg, #A152EF 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: 700ms ease-in-out;
    transition: 700ms ease-in-out;
}

#submit:hover {
    background-position: 0;
}