*, html,body {
    padding: 0;
    margin: 0;
    color: black;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

#toggleContainer label {
    text-align: center;
    width: 70px;
}

#container {
    height: 320px;
    width: 100%;
    box-sizing: border-box;
}

#toggleContainer {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95vw;
    position: absolute;
}

#tilesContainer {
    min-height: 90vh;
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
}

.tileItem {
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 5px;

    transition: all 0.5s ease;
}

.tileItem:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

#galleryContainer {
    height: 500px;
    width: 800px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#toggle {
    height: 10vh;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 10px;
}

#tilesView {
    min-height: 100vh;
    width: 100vw;
    background: rgb(246, 210, 106);
    background: linear-gradient(
        111deg,
        rgba(246, 210, 106, 1) 0%,
        rgba(255, 159, 0, 1) 52%,
        rgba(251, 197, 100, 1) 100%
    );
    display: none;
    justify-content: center;
    align-items: center;
}

#galleryView {
    height: 300px;
    width: 100vw;
    background: #EEE9E9;

    display: flex;
    justify-content: center;
    align-items: center;
}

#slider3 {
    height: 36px;
    width: 46px;
    background-color: orange;
    border-radius: 3px;
    transition: all 0.5s;
}

#slider3.active {
    -webkit-transform: translatex(50px);
    -ms-transform: translatex(50px);
    -o-transform: translatex(50px);
    transform: translatex(50px);
    transition: all 0.5s;
    background-color: orange;
}

#outer3.outerActive {
    background-color: white;
    border: 2px solid white;
    transition: all 0.5s;
}

#mainView {
    height: 250px;
    width: 450px;
    border-radius: 5px;
    background-color: #eb9100;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    transition: all 1s;
}

#mainView:hover {
    transform: scale(1.2);
    transition: all 1s;
}

#leftView {
    height: 200px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(5deg);
    transform-origin: top right;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#leftView:hover {
    opacity: 1;
    transition: all 1s;
}

#rightView {
    height: 200px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(-5deg);
    transform-origin: top left;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#rightView:hover {
    opacity: 1;
    transition: all 1s;
}

.navBtns {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    position: absolute;
    opacity: 0.8;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.navBtns:hover {
    opacity: 1;
    transition: all 1s;
    background-color: #eb9100;
}

#navLeft {
    left: 50px;
}

#navRight {
    right: 50px;
}

#linkTag {
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
}

/*---------------------------------------------------------------------------------------------*/
/* TÍTULO */
.titulo{
    position: absolute;
    width: 168px;
    height: 100px;
    left: 556px;
    top: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: #000000;
}

#submit2{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 45px;
	height: 44px;
	left: 444px;
	top: 544px;

	background: #A152EF;
	border-radius: 8px;
}
/*----------------------------------------------------------------------------------------------*/
/* INFORMAÇÕES */
.info{
    display: flex;
}

.info01{
    width: 50%;
    height: 200px;
    margin-right: 10px;
    padding-left: 100px;
    padding-top: 20px;
}

.info02{
    width: 50%;
    height: 200px;
    margin-right: 10px;
    padding-left: 100px;
    padding-top: 20px;
}

.avaliacoes{
    width: 50%;
    height: 100px;
    margin-right: 10px;
    padding-left: 100px;
    padding-top: 20px;
}

#submit{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 154px;
	gap: 10px;

	width: 392px;
	height: 44px;
	left: 444px;
	top: 544px;

	background: #A152EF;
	border-radius: 8px;
}
/*----------------------------------------------------------------------------------------------*/
/* BOX */
.box{
    display: flex;
}

.box01{
    background-color: #EEE9E9;
    border: #EEE9E9;
    width: 30%;
    margin-left: 20px;
    padding-left: 10px;
    width: 100vw;
}

.box02{
    background-color: #EEE9E9;
    border: #EEE9E9;
    width: 30%;
    margin-left: 20px;
    padding-left: 10px;
    width: 100vw;
}

.box03{
    background-color: #EEE9E9;
    border: #EEE9E9;
    width: 30%;
    margin-left: 20px;
    padding-left: 10px;
    width: 100vw;
}